/* ----------------------Variables */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root{
    /* -------------------Color */
    --pink-color:#FF4772;
    --white-color:white;
    --black-color: #313337;
    /* -------------------Tipografia */
    --normal:12px;
    /* -------------------Espaciado */
    --space:10px;
    /* -------------------Box shadow */
    --box:0 0 10px #c1bcbc;
}

/* ----------------------End Variables */

html, body {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

nav{
    display: flex;
    background-color: var(--pink-color);
/*     padding: 10px;
 */    color: var(--white-color);
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

nav ul{
    display: flex;
}

nav li{
    padding-left: 20px;
    list-style: none;
}

nav li a {
    color: var(--white-color);
    text-decoration: none;
    font-size: 18px;
}

nav li a:hover{
    color: rgb(88, 85, 85);
    text-shadow: 0 0 5px white;
    transition: 0.2s;
}

nav img {
    margin-left: var(--space);
}

label {
    font-size: var(--normal);
}

.titleCookie a{

    margin-top: 0;
    color: var(--white-color);
    font-family: Century Gothic;
    font-size: 50px;
    text-decoration: none;
    font-weight: bold;
}

/* -------------------main section------------------- */

.main_section{
    padding: 7%;
    text-align: center;
    margin-bottom: 5%;
}

.main_section h1{
    font-size: 27px;
}

.products{
    background-image: url("https://static.platzi.com/media/tmp/class-files/git/Desarrollo_web/Desarrollo_web-c10/images/curve.png");
    padding: 10%;
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    max-height: 50px;
    background-size: cover;
}

.product {
    padding: var(--space);
    margin-top: -27.5%;
}

.product .content{
    background-color: var(--white-color);
    padding: 15px;
    box-shadow: var(--box);
    text-align: center;
    border-radius: 3px;
}

.content:hover {
    box-shadow: 0 0 var(--normal) #ff4772;
    transition: 0.2s;
}

.img_content {
    text-align: center;
}

.img_content img {
    width: 100%;
    height: auto;
}

.main_button {
    background-color: var(--pink-color);
    width: 100%;
    padding: var(--space);
    font-size: var(--normal);
    color: var(--white-color);
    border: 0;
    cursor: pointer;
    border-radius: 3px;
}

.main_button:hover {
    background-color: #ff2e5f;
    box-shadow: 0 0 var(--normal) #ff4772;
    transition: 0.2s;
}

/* ----------------------------- beneficios ------------------------------------ */

.beneficios {
    padding: 5%;
    display: flex;
    margin-top: 40px;
}

.beneficio {
    padding: 0;
    margin: 10px;
    max-width: 300px;
}

.beneficio figure {
    align-items: center;
}

.beneficio img {
    width: 100%;
    height: auto;
}

.beneficio h3 {
    text-align: center;
}

/* --------------------Mentions------------------------------------- */

hr {
    opacity: 0.2;
}

.mention_title {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.mentions {
    padding: 2% 3% 10%;
    display: flex;
}

.mention {
    border-radius: 10px;
    padding: 0;
    box-shadow: var(--box);
    margin: 10px;
}

.mention figure {
    margin: 0;
}

.mention img {
    width: 100%;
    height: auto;
}

.mention h3 {
    margin: 0;
    padding: 5px 10px 0 10px;
    font-weight: bold;
}

.mention p {
    margin: 0;
    padding: 10px;
}

/* ---------------------------Footer--------------------------------------- */

footer {
    max-width: 100%;
    align-items: center;
    height: 40px;
    padding: 10px;
    background-color: var(--pink-color);
    display: flex;
    justify-content: space-between;
}

footer a {
    text-decoration: none;
    font-size: 15px;
    color: var(--white-color);
}

footer a:hover {
    color: rgb(88, 85, 85);
    text-shadow: 0 0 5px white;
    transition: 0.2s;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 15px;
    background-size: 50px 50px;

}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
}

.social-link.github {
    background-image: url('../images/github.svg');
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

/* ----------------------------------------------------------------Venta */

.modulo_pago {
    background-color: var(--white-color);
    box-shadow: var(--box);
    padding: var(--space);
}

.data{
    margin: 10px 0;
    width: 100%;
    height: 35px;
    border-radius: 2px;
    border: 1px solid var(--black-color);
    box-sizing: border-box;
}

.modulo_pago .main_button {
    margin-top: 10px;
}

/* ----------------------------------------------------------------Faqs */

.titleFaqs {
    max-width: 1000px;
    margin: auto;
    margin-top: 2%;
    padding: 10px;
}

.faqsFaqs {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.faqsAnwers {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}

.faqsAnwers p {
    font-size: 15px;
    padding: 5%;
}
